.steps {
  position: relative;

  &:before {
    position: absolute;
    content: '';
    height: 1px;
    width: 100%;
    background: var(--color-light-grey);
  }

  &:after {
    position: absolute;
    content: '';
    height: 1px;
    width: 100%;
    background: var(--color-light-grey);
  }
}

.steps-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 32px;
  margin: 0;

  &__item {
    display: initial;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    color: var(--color-dark-grey);

    @media (max-width: 767px) {
      font-size: 12px;
      line-height: 14px;
    }

    @media (max-width: 450px) {
      font-size: 11px;
    }

    @media (max-width: 350px) {
      font-size: 10px;
    }

    &::after {
      content: url("../../../../assets/images/next-icon.svg");
      padding: 0 16px;

      @media (max-width: 767px) {
        padding: 0 12px;
      }

      @media (max-width: 400px) {
        padding: 0 6px;
      }

      @media (max-width: 350px) {
        position: relative;
        top: 1px;
        padding: 0 3px;
      }
    }

    &:last-child::after {
      content: "";
    }

    &--available {
      color: var(--color-black);
      cursor: pointer;
    }

    &--current {
      color: var(--color-green);
      cursor: pointer;
    }
  }
}
