.order-info {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 320px;
  padding-left: 32px;
  padding-top: 32px;
  margin-bottom: 30px;

  @media (max-width: 1440px) {
    left: 50%;
    transform: translateX(-50%);
    height: 100%;
    padding-left: 0;
  }

  @media (max-width: 1023px) {
    left: 50%;
    transform: translateX(-50%);
    padding-top: 16px;
  }

  @media (max-width: 450px) {
    width: 100%;
  }

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    height: 100vh;
    width: 1px;
    background: var(--color-light-grey);

    @media (max-width: 1440px) {
      display: none;
    }
  }

  &__title {
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    text-align: right;

    @media (max-width: 1440px) {
      text-align: center;
    }

    @media (max-width: 1023px) {
      text-align: left;
    }
  }

  &__result {
    margin: 16px 0 32px 0;
    font-size: 16px;
    line-height: 16px;

    @media (max-width: 767px) {
      margin: 16px 0 16px 0;
    }
  }

  .point {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin-bottom: 16px;

    div {
      display: flex;
      align-items: flex-end;
    }

    &__key {
      color: var(--color-black);
      text-align: left;
      font-size: 14px;
      line-height: 16px;
      font-weight: 300;
    }

    &__value {
      display: flex;
      flex-direction: column;
      color: var(--color-dark-grey);
      font-size: 14px;
      line-height: 16px;
      font-weight: 300;
      text-align: right;
    }

    &__dots {
      border-bottom: 2px dotted var(--color-dark-grey);
      flex: 1 0;
      height: 1em;
      margin: 0 .4em;
    }
  }
}
