.status-button {
  width: 320px;

  &--active {
    background: linear-gradient(90deg, #0ec261 2.61%, #039f67 112.6%);
  }

  &--cancel {
    background: linear-gradient(90deg, #493013 0%, #7b0c3b 100%);
  }

  @media (max-width: 767px) {
    width: 100%;
    margin-bottom: 30px;
  }
}

