.map-container {
  margin-top: 20px;

  @media (max-width: 767px) {
    margin-top: 10px;
  }

  &__title {
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    margin: 0 0 12px 0;
  }
}

.map-inner {
  width: 738px;
  height: 352px;

  @media (max-width: 1440px) {
    width: 500px;
  }

  @media (max-width: 1200px) {
    width: 100%;
    height: 450px;
  }

  @media (max-width: 1023px) {
    width: 100%;
    height: 190px;
  }
}
