.steps {
  position: relative;
  display: flex;
  flex-direction: row;

  &:before {
    position: absolute;
    top: -8px;
    content: '';
    height: 1px;
    width: 100%;
    background: var(--color-light-grey);
  }

  &:after {
    position: absolute;
    bottom: -8px;
    content: '';
    height: 1px;
    width: 100%;
    background: var(--color-light-grey);
  }

  &__item {
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    color: var(--color-dark-grey);
  }

  &__item--active {
    color: var(--color-green);
  }
}
