.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;

  &::after {
    @media (max-width: 767px) {
      z-index: 1;
      content: '';
      position: absolute;
      left: 0;
      width: 100%;
      height: 60px;
      background-color: var(--color-black);
    }
  }

  @media (max-width: 767px) {
    flex-direction: column;
    align-items: flex-end;
    background-color: var(--color-black);
  }

  &__license {
    color: var(--color-dark-grey);
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;
    margin-bottom: 0;

    @media (max-width: 767px) {
      color: #FFFFFF;
      z-index: 2;
    }
  }

  &__tel {
    z-index: 2;
    margin-bottom: 0;

    @media  (max-width: 767px) {
      margin: 0;
    }

    a {
      color: var(--color-black);
      text-decoration: none;
      font-size: 13px;
      line-height: 15px;

      @media (max-width: 767px) {
        color: var(--color-green);
      }

      &:active,
      &:hover {
        color: var(--color-green);
      }
    }
  }
}
